.header-top {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: var(--background-primary);
  transition: box-shadow 0.3s ease-in-out;
}

.header-container {
  padding-top: 10px;
}

.header-content-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

.header-top-text {
  position: relative;
  left: 20px;
  flex-grow: 2;
}

.header-top-text h2 {
  font-size: 20px;
  text-align: center;
  color: var(--primary-white);
}

.header-top-text h2 span {
  display: block;
  font-weight: bold;
}

.header-top-hours {
  flex: 1 1 300px;
}

.header-top-hours {
  display: flex;
  gap: 10px;
}

.title {
  text-align: center;
}

.title p {
  font-size: 30px;
  color: var(--primary-pink);
  font-weight: bold;
  width: 50px;
  height: 50px;
  background: var(--primary-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
  margin-bottom: 2px;
}

.title p:hover {
  border-bottom: 6px solid var(--primary-yellow);
}

.title p ~ span {
  font-size: 18px;
  color: var(--primary-white);
}

.header-button {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-button button {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  background: var(--primary-white);
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 900;
  color: var(--primary-pink);
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.header-button button:hover::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-yellow);
  border-radius: 30px;
  opacity: 0;
  animation: background 0.8s forwards;
}

@keyframes background {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

/* MAIN - BANNER ( ! ) */
.banner {
  position: relative;
  top: 92px;
  background: url(../assets/imgs/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 806px;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 806px;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  z-index: 2;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  pointer-events: auto;
}

.banner-description-content {
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.banner-primary-button button {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-white);
  padding: 12px 42px;
  border: none;
  background: var(--primary-pink);
  border-radius: 300px;
  margin-bottom: 16px;
  transition: all 0.6s ease;
}

.banner-primary-button button:hover {
  background: var(--primary-white);
  color: var(--primary-pink);
  letter-spacing: 1px;
}

.banner-description-content h2 {
  font-size: 70px;
  line-height: 60px;
  color: var(--primary-white);
  font-weight: bold;
  width: 936px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.banner-description-content h2 span {
  display: block;
  font-weight: inherit;
  text-align: center;
}

.banner-description-content p {
  font-size: 20px;
  text-align: center;
  color: var(--primary-white);
  margin-top: 16px;
}

.banner-description-content p span {
  display: block;
}

/* EFFECTS - DEGRADAR */
.animate-text {
  background: linear-gradient(
    270deg,
    #858384,
    #dfa1df,
    #f5d4e6,
    #777477,
    #f1eded
  );
  background-size: 600% 600%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moverDegrade 8s ease infinite;
}

@keyframes moverDegrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-secondary-button {
  top: 82%;
}

.banner-secondary-button button {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-white);
  background: var(--primary-pink);
  border-radius: 30px;
  border: none;
  padding: 12px 42px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.banner-secondary-button button:hover {
  background: var(--primary-white);
  color: var(--primary-pink);
}

.banner :is(.banner-secondary-button, .banner-description-content) {
  position: absolute;
  z-index: 3;
}
