.header-top {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: var(--background-primary);
  transition: box-shadow 0.3s ease-in-out;
}

.header-container {
  padding-top: 10px;
}

.header-content-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

.header-top-text {
  position: relative;
  left: 20px;
  flex-grow: 2;
}

.header-top-text h2 {
  font-size: 20px;
  text-align: center;
  color: var(--primary-white);
}

.header-top-text h2 span {
  display: block;
  font-weight: bold;
}

.header-top-hours {
  flex: 1 1 300px;
}

.header-top-hours {
  display: flex;
  gap: 10px;
}

.title {
  text-align: center;
}

.title p {
  font-size: 30px;
  color: var(--primary-pink);
  font-weight: bold;
  width: 50px;
  height: 50px;
  background: var(--primary-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
  margin-bottom: 2px;
}

.title p:hover {
  border-bottom: 6px solid var(--primary-yellow);
}

.title p ~ span {
  font-size: 18px;
  color: var(--primary-white);
}

.header-button {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-button button {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  background: var(--primary-white);
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 900;
  color: var(--primary-pink);
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.header-button button:hover::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-yellow);
  border-radius: 30px;
  opacity: 0;
  animation: background 0.8s forwards;
}

@keyframes background {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

/* MAIN - BANNER ( ! ) */
.banner {
  position: relative;
  top: 92px;
  background: url(../assets/imgs/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 806px;
  overflow: hidden;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 806px;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 100%);
  z-index: 2;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image img {
  pointer-events: auto;
}

.banner-description-content {
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.banner-primary-button button {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-white);
  padding: 12px 42px;
  border: none;
  background: var(--primary-pink);
  border-radius: 300px;
  margin-bottom: 16px;
  transition: all 0.6s ease;
}

.banner-primary-button button:hover {
  background: var(--primary-white);
  color: var(--primary-pink);
  letter-spacing: 1px;
}

.banner-description-content h2 {
  font-size: 70px;
  line-height: 60px;
  color: var(--primary-white);
  font-weight: bold;
  width: 936px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.banner-description-content h2 span {
  display: block;
  font-weight: inherit;
  text-align: center;
}

.banner-description-content p {
  font-size: 20px;
  text-align: center;
  color: var(--primary-white);
  margin-top: 16px;
}

.banner-description-content p span {
  display: block;
}

/* EFFECTS - DEGRADAR */
.animate-text {
  background: linear-gradient(
    270deg,
    #858384,
    #dfa1df,
    #f5d4e6,
    #777477,
    #f1eded
  );
  background-size: 600% 600%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moverDegrade 8s ease infinite;
}

@keyframes moverDegrade {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-secondary-button {
  top: 82%;
}

.banner-secondary-button button {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-white);
  background: var(--primary-pink);
  border-radius: 30px;
  border: none;
  padding: 12px 42px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.banner-secondary-button button:hover {
  background: var(--primary-white);
  color: var(--primary-pink);
}

.banner :is(.banner-secondary-button, .banner-description-content) {
  position: absolute;
  z-index: 3;
}

/* MAIN - POINTS ( ! ) */
.points {
  margin-top: 126px;
}

.points-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.points-content :is(.points-descritpion, p) {
  margin-left: 24px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-pink);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.points-content p i {
  position: relative;
  top: -1px;
  font-size: 26px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: var(--primary-pink-light);
  color: var(--primary-white);
  border-radius: 50%;
  transition: all 0.5s ease;
}

.points-content p:hover i {
  transform: scale(1.2);
  background-color: var(--primary-pink);
}

/* MAIN - CARDS ( ! ) */
.cards {
  width: 100%;
  margin: auto;
  margin-top: 76px;
}

.cards-container {
  display: flex;
  gap: 20px;
}

.cards-info {
  width: 800px;
  background: var(--primary-pink);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.cards-info:hover {
  background: var(--primary-gray);
}

.cards-info :is(i, h2, p) {
  color: var(--primary-white);
  transition: all 0.5s ease;
}

.cards-info .icon i {
  font-size: 40px;
  font-weight: 300;
}

.cards-info .cards-description {
  width: 534px;
  margin: auto;
}

.cards-info .cards-description h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 6px;
}

.cards-info .cards-description p {
  font-size: 20px;
}

/* MAIN - PLANS ( ! ) */
.plans {
  width: 100%;
  height: 1270px;
  margin: auto;
  background: url(../assets/imgs/bg.content.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.plans .plans-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}

.plans .plans-content-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.plans-content-info :is(h2, p) {
  color: var(--primary-gray);
}

.plans-content-info .plans-title h2 {
  font-size: 40px;
}

.plans-content-info :is(span) {
  display: block;
  font-weight: inherit;
}

.plans-content-info .plans-text p {
  font-size: 22px;
  font-weight: 400;
}

.plans-content-info .plans-border {
  position: relative;
  width: 340px;
  height: 1px;
  background-color: var(--primary-gray);
}

.plans-content-info .plans-border::after {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 70px;
  height: 3px;
  background: var(--primary-pink);
}

.plans-container:hover .plans-content-info .plans-border::after {
  animation: widthMover 8s ease infinite;
}

@keyframes widthMover {
  0% {
    width: 70px;
  }

  100% {
    width: 340px;
  }
}

.plans .plans-content-description {
  width: 62.1%;
  background: var(--primary-pink);
  border-radius: 60px;
  overflow: hidden;
  padding: 58px;
}

.plans-content-description .plans-paragraph p {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-white);
  margin-bottom: 28px;
  transition: all 0.8s ease;
}

.plans-content-description .plans-paragraph p span {
  font-size: 24px;
  font-weight: 600;
}

.plans-content-description .plans-paragraph p:hover {
  transform: translateX(3px);
}

.plans-content-description .plans-paragraph p i {
  background: transparent;
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  margin-inline: 10px;
  transition: all 0.8s ease;
}

.plans-content-description .plans-paragraph p:hover i {
  background: var(--primary-white);
  color: var(--primary-pink);
}

.plans-content-description .plans-button {
  padding-inline: 56px;
  display: flex;
  align-items: center;
}

.plans-content-description .plans-button a {
  position: relative;
  background: var(--primary-white);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.plans-content-description .plans-button:hover a {
  background: var(--primary-pink-light);
  color: white;
}

.plans-content-description .plans-button button {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-pink);
  background: transparent;
  border: none;
  padding: 16px 60px;
  text-indent: -30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.plans-content-description .plans-button:hover button {
  color: var(--primary-white);
}

.plans-content-description .plans-button i {
  position: absolute;
  top: 8px;
  right: 18px;
  font-size: 40px;
  color: var(--primary-pink);
  transition: all 0.5s ease;
}

.plans-content-description .plans-button:hover i {
  color: var(--primary-white);
}

/*  MAIN - CONFIRMED ( PLANS! )  */
.confirmed {
  margin-top: 102px;
}

.confirmed-container {
  display: flex;
  flex-direction: column;
}

.confirmed .confirmed-container {
  text-align: center;
}

.confirmed .confirmed-content-text h2 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 3px;
  background: linear-gradient(to left, #d30275 15%, #e5719b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.confirmed .confirmed-content-text :is(p) {
  color: var(--primary-gray);
  font-weight: 500;
}

.confirmed .confirmed-content-text p {
  font-size: 28px;
  margin-bottom: 10px;
}

.confirmed .confirmed-description {
  width: 835px;
  margin: 0 auto;
}

.confirmed .confirmed-description p {
  font-size: 20px;
}

/* CARDS IMGS */
.confirmed-cards-container {
  margin-top: 60px;
}

.confirmed .confirmed-cards-all {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 42px;
}

.confirmed .comfirmed-img {
  position: relative;
  width: 288px;
  height: 420px;
  background: transparent;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.6s ease;
}

.confirmed .comfirmed-img:hover {
  transform: scale(1.1);
}

.confirmed .comfirmed-img::after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-cards-pink);
  transition: all 0.4s ease;
  opacity: 0;
}

.confirmed .comfirmed-img:hover::after {
  opacity: 0.6;
}

.confirmed .comfirmed-img::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, #000000 104%);
  z-index: 2;
}

.confirmed .comfirmed-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.confirmed .comfirmed-img .comfirmed-img-name {
  position: absolute;
  top: 82%;
  left: 30px;
  z-index: 4;
  color: var(--primary-white);
  text-align: left;
}

.confirmed .comfirmed-img .comfirmed-img-name::after {
  content: '';
  position: absolute;
  top: 0;
  left: -12px;
  width: 3px;
  height: 24px;
  background: var(--primary-pink-light);
  transition: all 0.9s cubic-bezier(0.43, 2, 0.55, 0.27);
}

.confirmed-cards-all .comfirmed-img:hover .comfirmed-img-name::after {
  height: 52px;
}

.confirmed .comfirmed-img .comfirmed-img-name h2 {
  font-size: 20px;
  font-weight: 600;
}

.confirmed .comfirmed-img .comfirmed-img-name p {
  font-size: 18px;
}

.confirmed .comfirmed-img .comfirmed-description {
  position: absolute;
  top: 52%;
  left: 0px;
  color: var(--primary-white);
  z-index: 5;
  width: 100%;
  text-align: left;
  transition: all 0.4s ease;
  transition: all 0.9s cubic-bezier(0.43, 2, 0.55, 0.27);
  opacity: 0;
}

.confirmed .comfirmed-img:hover .comfirmed-description {
  left: 30px;
  opacity: 1;
}

.confirmed .comfirmed-img .comfirmed-description h3 {
  font-size: 18px;
  letter-spacing: 6px;
}

.confirmed .comfirmed-img .comfirmed-text h4 {
  font-size: 18px;
  font-weight: bold;
}

.confirmed .comfirmed-rodape-text p {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: var(--primary-gray);
}

.confirmed .comfirmed-rodape-text p strong {
  font-size: 40px;
  color: var(--primary-pink);
}

.confirmed .comfirmed-rodape-text p span {
  font-weight: bold;
  display: block;
}
