.header-top {
  width: 100%;
  position: fixed;
  z-index: 9999;
  background: var(--background-primary);
  transition: box-shadow 0.3s ease-in-out;
}

.header-container {
  padding-top: 10px;
}

.header-content-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
}

.header-top-text {
  position: relative;
  left: 20px;
  flex-grow: 2;
}

.header-top-text h2 {
  font-size: 20px;
  text-align: center;
  color: var(--primary-white);
}

.header-top-text h2 span {
  display: block;
  font-weight: bold;
}

.header-top-hours {
  flex: 1 1 300px;
}

.header-top-hours {
  display: flex;
  gap: 10px;
}

.title {
  text-align: center;
}

.title p {
  font-size: 30px;
  color: var(--primary-pink);
  font-weight: bold;
  width: 50px;
  height: 50px;
  background: var(--primary-white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
}

.title p:hover {
  border-bottom: 6px solid var(--primary-yellow);
}

.title p ~ span {
  font-size: 18px;
  color: var(--primary-white);
}

.header-button {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-button button {
  font-size: 16px;
  position: relative;
  cursor: pointer;
  background: var(--primary-white);
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-weight: 900;
  color: var(--primary-pink);
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
}

.header-button button:hover::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-yellow);
  border-radius: 30px;
  opacity: 0;
  animation: background 0.8s forwards;
}

@keyframes background {
  0% {
    left: 0;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}
