/* =========================== RESPONSIVE - MOBILE (VERTICAL) */

@media screen and (max-width: 480px) {
  .header-content-top {
    position: relative;
    flex-direction: column;
    gap: 10px;
  }

  .header-logo {
    align-self: self-start;
  }

  .header-top-text {
    left: 0px;
  }

  .header-top-text h2 {
    font-size: 18px;
  }

  .header-top-hours {
    flex: 0px;
  }

  .title p {
    font-size: 24px;

    width: 40px;
    height: 40px;
  }

  .header-button {
    margin-bottom: 32px;
  }

  .header-button button {
    font-size: 15px;
    padding: 10px 24px;
    top: 10px;
  }

  #theme-switch {
    position: absolute;
    top: 14px;
    right: 0;
    width: 40px;
    height: 40px;
  }

  /* MAIN - BANNER ( ! ) */
  .banner {
    top: 298px;
    height: 746px;
  }

  .banner::before {
    content: '';
    height: 746px;
  }

  .banner-image img {
    width: 130%;
    height: 136%;
    object-fit: cover;
    translate: 16px 26px;
  }

  .banner-description-content {
    width: 160%;
    display: inline-block;
    padding-top: 106px;
  }

  .banner-primary-button {
    gap: 0px;
    flex-direction: column;
  }

  .banner-primary-button button {
    font-size: 15px;
    padding: 10px 30px;
  }

  .banner-description-content h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .banner-description-content p {
    font-size: 18px;
    width: 286px;
    margin: auto;
  }

  .banner-secondary-button button {
    font-size: 15px;
    margin: 110px auto;
    padding: 10px 40px;
  }
}

/* =========================== RESPONSIVE - MOBILE (HORIZONTAL) */

@media screen and (orientation: landscape) and (max-width: 1024px) {
}

/* =========================== RESPONSIVE - TABLET */

@media screen and (min-width: 550px) and (orientation: portrait) and (max-width: 880px) {
}
