/* =========================== RESPONSIVE - MOBILE (VERTICAL) */

@media screen and (max-width: 480px) {
  .header-top .header-content-top {
    position: relative;
    flex-direction: column;
    gap: 0px;
  }

  .header-top .header-logo {
    align-self: self-start;
  }

  .header-top .header-top-text {
    top: -14px;
    left: 0px;
  }

  .header-top .header-top-text h2 {
    font-size: 12px;
    font-weight: bold;
  }

  .header-top .header-top-text h2 span {
    display: none;
  }

  .header-top .header-top-hours {
    position: relative;
    top: -10px;
    flex: 0px;
    gap: 5px;
  }

  .header-top .title p {
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin-bottom: -5px;
  }

  .header-top .title p ~ span {
    font-size: 15px;
  }

  .header-top .header-button {
    margin-bottom: 4px;
  }

  .header-top .header-button button {
    display: none;
  }

  .header-top #theme-switch {
    position: absolute;
    top: 14px;
    right: 0;
    width: 36px;
    height: 36px;
  }

  /* MAIN - BANNER ( ! ) */
  .banner {
    top: 174px;
    height: 100%;
  }

  .banner::before {
    content: '';
    height: 100%;
  }

  .banner-image img {
    width: 716px;
    height: 860px;
    object-fit: contain;
    translate: 56px;
  }

  .banner-description-content {
    padding-top: 106px;
  }

  .banner-primary-button {
    gap: 0px;
    flex-direction: column;
  }

  .banner-primary-button button {
    font-size: 15px;
    padding: 10px 30px;
  }

  .banner-description-content h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .banner-description-content p {
    font-size: 18px;
    width: 286px;
    margin: auto;
  }

  .banner-secondary-button button {
    font-size: 15px;
    margin: 88px auto;
    padding: 10px 40px;
  }

  /* MAIN - POINTS ( ! ) */
  .points {
    margin-top: 176px;
  }

  .points-content {
    flex-direction: column;
    gap: 16px;
  }

  .points-content :is(.points-descritpion, p) {
    margin-left: 0px;
    font-size: 18px;
  }

  .points-content p i {
    font-size: 20px;
    top: 0px;
    left: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  /* MAIN - CARDS ( ! ) */
  .cards {
    margin-top: 26px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards-info {
    width: 102%;
  }

  .cards-info .cards-description {
    width: 96%;
  }

  .cards-info .cards-description h2 {
    font-size: 20px;
  }

  .cards-info .cards-description p {
    font-size: 16px;
  }

  /* MAIN - PLANS ( ! ) */
  .plans .plans-container {
    flex-direction: column;
    gap: 32px;
    margin-top: 34px;
  }

  .plans .plans-content-info {
    gap: 10px;
  }

  .plans-content-info .plans-title h2 {
    text-align: center;
    font-size: 32px;
  }

  .plans-content-info .plans-text p {
    font-size: 20px;
    text-align: center;
  }

  .plans .plans-content-description {
    width: 113%;
    padding: 28px;
  }

  .plans-content-description .plans-paragraph p {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .plans-content-description .plans-paragraph p span {
    font-size: 16px;
    position: relative;
    left: 32px;
  }

  .plans-content-description .plans-paragraph p i {
    margin-inline: 4px;
  }

  .plans-content-description .plans-button {
    padding-inline: 0px;
    width: 100%;
    justify-content: center;
  }

  .plans-content-description .plans-button button {
    font-size: 16px;
  }

  .plans-content-description .plans-button i {
    top: 10px;
    right: 30px;
    font-size: 30px;
  }

  /*  MAIN - CONFIRMED ( PLANS! )  */
  .confirmed {
    margin-top: 22px;
  }

  .confirmed .confirmed-content-text h2 {
    font-size: 32px;
  }

  .confirmed .confirmed-content-text p {
    font-size: 18px;
    margin-bottom: 28px;
  }

  .confirmed .confirmed-description {
    width: 96%;
  }

  .confirmed .confirmed-description p {
    font-size: 18px;
  }

  .confirmed .comfirmed-img:hover {
    transform: scale(1.06);
  }

  .confirmed-cards-container {
    margin-top: -30px;
  }

  .confirmed .confirmed-cards-all {
    gap: 30px;
    flex-direction: column;
    margin-bottom: 28px;
  }

  .confirmed .comfirmed-img {
    width: 100%;
  }

  .confirmed .comfirmed-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* CONFIRMED RODAPE */
  .confirmed .comfirmed-rodape-text {
    width: 96%;
  }

  .confirmed .comfirmed-rodape-text p {
    font-size: 22px;
    line-height: 28px;
  }

  .confirmed .comfirmed-rodape-text p strong {
    font-size: 28px;
    color: var(--primary-pink);
  }

  .confirmed .comfirmed-rodape-text p span {
    display: inline-block;
  }

  .confirmed .confirmed-button {
    margin-top: -10px;
  }

  .confirmed .confirmed-button button {
    font-size: 16px;
  }

  /* MAIN - CARDS - BOX ( ! ) */
  .cards-box {
    margin-top: 46px;
  }

  .cards-box .cards-box-one {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .cards-box .cards-box-one .cards-items {
    width: 100%;
    margin: 0 auto;
  }

  /* MAIN - DIV FOR WHOM AND ( ! ) */
  .for-whom-and .for-whom-and-container {
    flex-direction: column;
  }

  .for-whom-and .for-whom-and-img {
    right: 10px;
    margin-top: 56px;
  }

  .for-whom-and-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }

  .for-whom-and .for-whom-and-img .play {
    right: -20px;
  }

  .for-whom-and .for-whom-and-img .play::after {
    content: '';
    top: -13px;
    right: 3px;
    width: 170px;
    height: 170px;
  }

  .for-whom-and .for-whom-and-description {
    top: 16px;
    width: 100%;
  }

  .for-whom-and .for-whom-and-description :is(h2, p, span) {
    margin-bottom: 16px;
  }

  .for-whom-and .for-whom-and-description h2 {
    font-size: 20px;
  }

  .for-whom-and .description-paragraph p {
    font-size: 18px;
    text-align: left;
  }

  .for-whom-and .for-whom-and-button-whats {
    width: 100%;
  }

  .for-whom-and .for-whom-and-button-whats a {
    font-size: 12px;
    padding: 20px;
  }

  .for-whom-and .for-whom-and-button-whats .icon-whats {
    width: 54px;
  }

  .for-whom-and .for-whom-and-button-whats .icon-whats i {
    top: 6px;
    right: 6px;
    font-size: 24px;
  }

  .for-whom-and-phrase-container {
    margin-top: 88px;
  }

  .for-whom-and-phrase-content {
    width: 100%;
  }

  .for-whom-and-phrase-content h2 {
    font-size: 36px;
  }

  .for-whom-and-phrase-content p {
    font-size: 20px;
  }

  .for-whom-and-phrase-content .phrase-description p {
    font-size: 28px;
    line-height: 30px;
  }

  .for-whom-and-phrase-content :is(h2, p) {
    margin-bottom: 10px;
  }

  /* MAIN - INVESTMENTS ( ! ) */
  .investments {
    margin-top: 38px;
  }
  .investments .investments-title h2 {
    font-size: 46px;
  }
  .investments .investments-content {
    flex-direction: column;
  }

  .investments .investments-cards:nth-child(1) {
    width: 100%;
  }

  .investments .investments-cards:nth-child(2) {
    width: 100%;
  }

  .investments .investments-cards:nth-child(3) {
    width: 100%;
  }

  .investments .investments-cards:nth-child(4) {
    width: 100%;
  }

  /*  MAIN - ACCORDION ( ! )  */
  .accordion {
    margin-top: 66px;
  }
  .accordion .accordion_content {
    width: 106%;
  }

  .accordion .accordion_content {
    padding: 20px;
  }

  .accordion .accordion_content .acc_title {
    font-size: 30px;
  }

  .accordion .accordion_item .accordion_info h2 {
    font-size: 15px;
  }

  .accordion .accordion_item .accordion_info i {
    font-size: 28px;
    position: relative;
    top: 3px;
  }

  .accordion .accordion_item .accordion_description.power {
    height: 100px;
  }

  .accordion .accordion_item .accordion_description p {
    font-size: 16px;
    display: block;
    width: 94%;
  }

  /* FOOTER ( ! ) */
  .footer {
    position: relative;
    top: -30px;
  }

  .footer .footer-content {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .footer .footer-logo img {
    width: 194px;
    height: 240px;
    object-fit: contain;
  }

  .footer .footer-description {
    padding: 10px;
  }

  .footer .footer-description :is(p, a, i) {
    font-size: 15px;
  }

  .footer .footer-copyright {
    font-size: 12px;
  }
}

/* =========================== RESPONSIVE - MOBILE (HORIZONTAL) */

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .banner {
    width: 200%;
  }

  .points {
    width: 200%;
  }

  .cards {
    width: 200%;
  }

  .plans {
    width: 200%;
  }

  .for-whom-and {
    width: 200%;
  }

  .investments {
    width: 200%;
  }

  .accordion {
    width: 200%;
  }

  .footer {
    width: 200%;
  }

  .loader-spin {
    width: 100%;
    height: 100%;
  }
}

/* =========================== RESPONSIVE - TABLET ( PORTRAIT ) */

@media screen and (min-width: 768px) and (orientation: portrait) and (max-width: 880px) {
  .header-top .header-content-top {
    position: relative;
  }

  .header-top .header-top-text {
    left: 0px;
  }

  .header-top .header-top-text h2 {
    font-size: 16px;
  }

  .header-top .header-top-text h2 span {
    display: none;
  }

  .header-top-hours {
    position: relative;
    right: 40px;
  }

  .header-top #theme-switch {
    position: absolute;
    top: 3px;
    right: 10px;
  }

  .header-top .header-button button {
    display: none;
  }

  /* MAIN - BANNER ( ! ) */
  .banner-description-content h2 {
    font-size: 52px;
    line-height: 52px;
  }

  .banner-primary-button button {
    font-size: 15px;
    padding: 12px 36px;
  }

  .banner-description-content p {
    font-size: 16px;
  }

  /* MAIN - POINTS ( ! ) */
  .points {
    margin-top: 100px;
  }

  .points-content {
    gap: 16px;
  }

  .points-content :is(.points-descritpion, p) {
    margin-left: 0px;
    font-size: 18px;
  }

  .points-content p i {
    top: -5px;
  }

  /* MAIN - CARDS ( ! ) */
  .cards {
    margin-top: 46px;
  }

  .cards-info {
    width: 102%;
  }

  .cards-info .cards-description {
    width: 96%;
  }

  .cards-info .cards-description h2 {
    font-size: 20px;
  }

  .cards-info .cards-description p {
    font-size: 16px;
  }

  /* MAIN - PLANS ( ! ) */
  .plans .plans-container {
    flex-direction: column;
    gap: 32px;
    margin-top: 104px;
  }

  .plans-content-info .plans-title h2 {
    text-align: center;
    font-size: 32px;
  }

  .plans .plans-content-description {
    width: 100%;
  }

  /*  MAIN - CONFIRMED ( PLANS! )  */
  .confirmed .confirmed-content-text h2 {
    font-size: 38px;
  }

  .confirmed .confirmed-content-text p {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .confirmed .confirmed-description {
    width: 96%;
  }

  .confirmed .confirmed-cards-all {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }
  .confirmed .comfirmed-img {
    flex-grow: 2;
  }

  .confirmed .comfirmed-img:nth-child(5) img {
    width: 164%;
    height: 208%;
    object-fit: contain;
    transform: translateX(-246px);
  }

  /* MAIN - CARDS - BOX ( ! ) */
  .cards-box {
    margin-top: 66px;
  }

  .cards-box .cards-box-one {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* MAIN - DIV FOR WHOM AND ( ! ) */
  .for-whom-and .for-whom-and-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .for-whom-and .for-whom-and-description {
    top: 36px;
    width: 100%;
  }

  .for-whom-and .for-whom-and-button-whats {
    margin: 0 auto;
  }

  .for-whom-and-phrase {
    margin-top: 160px;
  }

  /* MAIN - INVESTMENTS ( ! ) */
  .investments .investments-content {
    flex-wrap: wrap;
    gap: 40px;
  }

  .investments .investments-cards:nth-child(1) {
    width: 66%;
  }

  .investments .investments-cards:nth-child(2) {
    width: 66%;
  }

  .investments .investments-cards:nth-child(3) {
    width: 66%;
  }

  .investments .investments-cards:nth-child(4) {
    width: 66%;
  }

  .investments .investments-footer {
    width: 100%;
  }

  /*  MAIN - ACCORDION ( ! )  */
  .accordion .accordion_item .accordion_description.power {
    height: 70px;
  }
}

/* =========================== RESPONSIVE - TABLET ( LANDSCAPE ) */
@media screen and (min-width: 880px) and (orientation: landscape) and (max-width: 1196px) {
  .header-content-top {
    padding-inline: 30px;
  }

  .header-top .header-top-text h2 {
    font-size: 16px;
  }

  .header-top .header-top-text h2 span {
    display: none;
  }

  .header-top .header-button button {
    display: none;
  }

  .header-top #theme-switch {
    position: absolute;
    top: 20px;
    right: 60px;
  }

  /* MAIN - BANNER ( ! ) */
  .banner {
    width: 100%;
  }

  /* MAIN - POINTS ( ! ) */
  .points {
    width: 100%;
  }

  /* MAIN - PLANS ( ! ) */
  .plans {
    width: 100%;
  }

  /*  MAIN - CONFIRMED ( PLANS! )  */
  .confirmed {
    width: 100%;
  }

  .confirmed .confirmed-cards-all {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  .confirmed .comfirmed-img {
    flex-grow: 2;
  }

  .confirmed .comfirmed-img:nth-child(5) img {
    width: 164%;
    height: 208%;
    object-fit: contain;
    transform: translateX(-146px);
  }

  /* MAIN - CARDS ( ! ) */
  .cards {
    width: 100%;
  }

  .cards-box .cards-box-one {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  /* MAIN - DIV FOR WHOM AND ( ! ) */
  .for-whom-and {
    width: 100%;
  }

  /* MAIN - INVESTMENTS ( ! ) */
  .investments {
    width: 100%;
  }

  .investments .investments-content {
    flex-wrap: wrap;
    gap: 40px;
  }

  .investments .investments-footer {
    width: 100%;
  }

  /*  MAIN - ACCORDION ( ! )  */
  .accordion {
    width: 100%;
  }

  /* FOOTER ( ! ) */
  .footer {
    width: 100%;
  }

  .loader-spin {
    width: 100%;
    height: 100%;
  }
}
