/* =========================== RESPONSIVE - MOBILE (VERTICAL) */

@media screen and (max-width: 480px) {
  .header-content-top {
    position: relative;
    flex-direction: column;
    gap: 10px;
  }

  .header-logo {
    align-self: self-start;
  }

  .header-top-text {
    left: 0px;
  }

  .header-top-text h2 {
    font-size: 18px;
  }

  .header-top-hours {
    flex: 0px;
  }

  .title p {
    font-size: 24px;

    width: 40px;
    height: 40px;
  }

  .header-button {
    margin-bottom: 32px;
  }

  .header-button button {
    font-size: 15px;
    padding: 10px 24px;
    top: 10px;
  }

  #theme-switch {
    position: absolute;
    top: 14px;
    right: 0;
    width: 40px;
    height: 40px;
  }

  /* MAIN - BANNER ( ! ) */
  .banner {
    top: 298px;
    height: 100%;
  }

  .banner::before {
    content: '';
    height: 100%;
  }

  .banner-image img {
    width: 716px;
    height: 860px;
    object-fit: contain;
    translate: 56px;
  }

  .banner-description-content {
    padding-top: 106px;
  }

  .banner-primary-button {
    gap: 0px;
    flex-direction: column;
  }

  .banner-primary-button button {
    font-size: 15px;
    padding: 10px 30px;
  }

  .banner-description-content h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .banner-description-content p {
    font-size: 18px;
    width: 286px;
    margin: auto;
  }

  .banner-secondary-button button {
    font-size: 15px;
    margin: 88px auto;
    padding: 10px 40px;
  }

  /* MAIN - POINTS ( ! ) */
  .points {
    margin-top: 320px;
  }

  .points-content {
    flex-direction: column;
    gap: 16px;
  }

  .points-content :is(.points-descritpion, p) {
    margin-left: 0px;
    font-size: 18px;
    /* gap: 5px; */
  }

  .points-content p i {
    font-size: 20px;
    top: 0px;
    left: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  /* MAIN - CARDS ( ! ) */
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .cards-info {
    width: 102%;
  }

  .cards-info .cards-description {
    width: 96%;
  }

  .cards-info .cards-description h2 {
    font-size: 22px;
  }

  .cards-info .cards-description p {
    font-size: 16px;
  }
}

/* =========================== RESPONSIVE - MOBILE (HORIZONTAL) */

@media screen and (orientation: landscape) and (max-width: 1024px) {
}

/* =========================== RESPONSIVE - TABLET */

@media screen and (min-width: 550px) and (orientation: portrait) and (max-width: 880px) {
}
